<div class="thumbnail glowthumbnail accessoryitem" draggable="true" id="acc-<%=_id%>" style="left:<%=locX%>%; top:<%=locY%>%;">
    <h6><%= name %></h6>
        <% if (type == 'Uncoupler') {
            if (controllerSubAddress == 0) { %>
                <div class="visible-desktop">
                <button class="btn btn-mini btn-success buttonA buttonX" type="button">X</button></div>
                <div class="hidden-desktop">
                <button class="btn btn-success buttonA buttonX" type="button">X</button></div>
                <% } else { %>
                <div class="visible-desktop">
                <button class="btn btn-mini btn-success buttonB buttonX" type="button">X</button></div>
                <div class="hidden-desktop">
                <button class="btn btn-success buttonB buttonX" type="button">X</button></div>
                    <% } %>
        <% } else if (type == 'Turnout') { %>
            <div class="visible-desktop">
                <button class="btn btn-mini btn-danger buttonA" type="button">A</button>
                <button class="btn btn-mini btn-success buttonB" type="button">B</button>
            </div>
            <div class="hidden-desktop">
                <button class="btn btn-danger buttonA" type="button">A</button>
                <button class="btn btn-success buttonB" type="button">B</button>
            </div>
                <% } else { %>
            <div class="visible-desktop">
                <button class="btn btn-mini btn-danger buttonA" type="button">Off</button>
                <button class="btn btn-mini btn-success buttonB" type="button">On</button>
            </div>
            <div class="hidden-desktop">
                <button class="btn btn-danger buttonA" type="button">Off</button>
                <button class="btn btn-success buttonB" type="button">On</button>
            </div>                      
                    <% } %>
</div>