<!-- Details about a controller, used inside a layout detailed view -->
<!-- There can be several of those inside layout detailed views, so we
      add the controller's Id to any element that needs to have a unique id -->
<div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100">
        <div class="card-body text-center">
            <h5 class="card-title mb-3"><%=name%></h5>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal-<%=_id%>">
                    <i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm controller-delete">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-<%=_id%>" tabindex="-1" aria-labelledby="myModalLabel-<%=_id%>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel-<%=_id%>">Controller details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <p class="text-muted small mb-4">
                        Controller ID: <%=_id %>
                    </p>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Controller name" value="<%=name %>">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="type">Type</label>
                        <select class="form-select" name="type">
                            <option value="AVR" <%= type == "AVR" ? 'selected="selected"' : '' %>>AVR</option>
                            <option value="IPAVR" <%= type == "IPAVR" ? 'selected="selected"' : '' %>>AVR over IP</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="port">Port</label>
                        <input type="text" class="form-control" name="port" value="<%= port %>">
                    </div>
                                        
                    <div class="control-group">
                        <label class="control-label" for="pid">PID</label>
                        <div class="controls">
                            <div class="horizontal">
                                <span>P:&nbsp;</span>
                                <input id="kp" type="number" name="pidkp" min="0" max="10" step="0.1" class="form-control form-control-sm" style="width: 80px;" />
                                <span>&nbsp;&nbsp;I:&nbsp;</span>
                                <input id="ki" type="number" name="pidki" min="0" max="10" step="0.1" class="form-control form-control-sm" style="width: 80px;" />
                                <span>&nbsp;&nbsp;D:&nbsp;</span>
                                <input id="kd" type="number" name="pidkd" min="0" max="10" step="0.1" class="form-control form-control-sm" style="width: 80px;" />
                            </div><br>
                            <div class="horizontal">
                                <span>&nbsp;&nbsp;Sample time:&nbsp;</span>
                                <input id="sample" name="pidsample" type="number" min="60" max="600" step="10" class="form-control form-control-sm" style="width: 80px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="pulse">Accessory pulse</label>
                    <div class="controls">
                        <input type="text" name="accessorypulse" maxlength="4"  value="<%= accessorypulse  %>">&nbsp; ms
                    </div>
            </div>


        </div><!-- modal-body -->
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary controller-save">Save changes</button>
  </div>
    </form>
</div>

    </div><!-- thumbnail -->
    </li>
