<!-- Running controller -->
<div class="container-fluid">
    <div class="row justify-content-center mb-4">
        <div class="col-12 text-center">
            <div class="btn-group">
                <button class="btn btn-lg btn-outline-primary dir-back">
                    <i class="bi bi-arrow-left dir-back"></i>
                </button>
                <button class="btn btn-lg btn-outline-danger dir-stop">
                    <i class="bi bi-stop-fill dir-stop"></i>
                </button>
                <button class="btn btn-lg btn-outline-primary dir-fwd">
                    <i class="bi bi-arrow-right dir-fwd"></i>
                </button>
            </div>
        </div>
    </div>

    <% if (this.powersliderstyle == "Slider") { %>
    <div class="row justify-content-center mb-4">
        <div class="col-12 text-center">
            <p class="mb-3">Power</p>
            <div class="d-flex justify-content-center">
                <div style="width: 40px;">
                    <div class="progress-stacked vertical" style="min-height: 300px;">
                        <div class="progress" role="progressbar" style="height: 0%" data-percentage="0">
                            <div class="progress-bar bg-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="row justify-content-center mb-4">
        <div class="col-12">
            <div class="d-flex justify-content-center" style="min-height: 210px">
                <div>
                    <input type="text" value="0" class="dial power2" data-width="180" data-min="0" data-max="100" data-thickness=".2" data-displayPrevious=true>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <div class="row align-items-center">
        <div class="col-auto">
            <button class="btn btn-outline-secondary rounded-circle comlink" disabled>
                <i class="bi bi-asterisk"></i>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#PIDmodal">
                PID
            </button>
        </div>
    </div>

    <!-- PID Adjustment modal -->
    <div class="modal fade" id="PIDmodal" data-bs-backdrop="false" tabindex="-1" aria-labelledby="PIDmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">PID Adjustment</h3>
  </div>
  <div class="modal-body">
      <div class="horizontal">
          <span>P:&nbsp;</span><input id="kp" name="pidkp" type="text" />
          <span>&nbsp;&nbsp;I:&nbsp;</span><input id="ki" name="pidki" type="text"/>
          <span>&nbsp;&nbsp;D:&nbsp;</span><input id="kd" name="pidkd" type="text"/>
          <span>&nbsp;&nbsp;Sample time:&nbsp;</span><input id="sample" name="pidsample" type="text"/>
      </div>
</div>
  <div class="modal-footer">
<!--    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
    <button class="btn pidquery" aria-hidden="true" data-toggle="tooltip" data-original-title="Get current settings from controller">Query</button>
    <button class="btn pidreset" aria-hidden="true">Reset</button>
    <button class="btn pidsave btn-primary">Save changes</button>
  </div>
</div>