     <% 
    var theme = settings ? settings.get('theme') : 'light';
    var isDark = theme === 'dark';
    %>
    <nav class="navbar navbar-expand-lg <%= isDark ? 'navbar-dark bg-dark' : 'navbar-light bg-light' %> fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Train Controller</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent"-- Modern Material Design Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Train Controller</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item menu-layout">
              <a class="nav-link" href="#layouts"><i class="bi bi-grid"></i> Select layout</a>
            </li>
            <li class="nav-item menu-loco">
              <a class="nav-link" href="#locos"><i class="bi bi-train-front"></i> Select locomotive</a>
            </li>
            <li class="nav-item add-option menu-loco-add d-none">
              <a class="nav-link" href="#locos/add"><i class="bi bi-plus-circle"></i> Add Locomotive</a>
            </li>
            <li class="nav-item add-option menu-layout-add d-none">
              <a class="nav-link" href="#layouts/add"><i class="bi bi-plus-circle"></i> Add Layout</a>
            </li>
            <li class="nav-item add-option menu-car-add d-none">
              <a class="nav-link" href="#cars/add"><i class="bi bi-plus-circle"></i> Add Car</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item menu-cars">
              <a class="nav-link" href="#cars"><i class="bi bi-truck"></i> Manage cars</a>
            </li>
            <li class="nav-item settings-menu">
              <a class="nav-link" href="#settings"><i class="bi bi-gear"></i> Settings</a>
            </li>
            <li class="nav-item about-menu">
              <a class="nav-link" href="#about"><i class="bi bi-info-circle"></i> About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>