<div class="row-fluid">
    <div class="span2">
                <h5><%= name %></h5> 
        <p>
            <a href="#" role="button" class="ctrl-connect btn btn-warning">Connect to controller</a>
        </p>
                    <hr>
                    <a href="#diagnostics" class="btn btn-info disabled ctrl-diag" role="button">Diagnostics</a>
    </div>
    <div class="thumbnail span10" id="layoutarea" style="position:relative;">
        <img src="<%= picture === null ? 'pics/layouts/generic.jpg' : 'pics/layouts/' + picture %>" id="layoutpic" width="100%">
    </div>
</div>
