  <div class="row-fluid">
    <div class="span3" id="loco-pic">
        <div class="thumbnail select" style="text-align: center;">
            <img src="<%= picture === null ? 'pics/locos/generic.jpg' : 'pics/locos/' + picture %>" width="250" alt="">
            <h5><%= name %></h5>
            <%= reference %><br/>
        </div>
    </div>
    <div class="span3 thumbnail">
        <p>Runtime: 05h23s</p>
    </div>
    <div class="span6 thumbnail" >
        <div class="locochart" style="position: relative; width:350px; height:150px;">Chart</div>
    </div>
  </div><!--/row-->
