<div class="row-fluid">
    <div class="span8 hero-unit">
        <h4>Application settings</h4>
        <p>At the moment, this application does not have user settings.</p>
        <p>
            <a href="#" role="button" id="reset" class="btn pull-left">Reset all settings.</a>
        </p>
    </div>
    <div class="span4">
        <p>
            Debug:
        </p>
        <ul>
            <li><%= _id %></li>
            <li>Layout: <%= currentLayout %></li>
            <li>Loco: <%= currentLoco %></li>
        </ul>
    </div>
</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> generic message.
        </div>
    </div>
</div>