<div class="row-fluid">
    <div class="span8 ">
        <div class="row-fluid">
            <div class="span6 well">
                <h4>Application settings</h4>
                <p>
                    <a href="#" role="button" id="reset" class="btn pull-left">Reset all settings.</a>
                </p>
            </div>
            <div class="span6 well">
                <h4>Power slider style</h4>
                <select name="powersliderstyle" >
                    <option value="Slider" <%= powersliderstyle == "Slider" ? 'selected="selected"'  : '' %>>Slider</option>
                    <option value="Knob" <%= powersliderstyle == "Knob" ? 'selected="selected"'  : '' %>>Round</option>
                </select>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12"><h4>Backup and restore</h4></div>
        </div>
        <div class="row-fluid">
            <div class="span6 well">
                <p>Backup all settings in a backup file (.tbz): <a href="/backup" role="button" class="do-backup btn">Backup</a>
            </div>
            <div class="span6 well">                
            <p>Drop a backup file on the box below to restore your settings:</p>
                <div style="width:120px; height:107px; position:relative;margin: 0px auto;">
                        <div style="position:absolute; bottom:0;"><img id="restore-area" width="120" src="img/package-open.png"/></div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12"><h4>User interface</h4></div>
        </div>        
        <div class="row-fluid">
            <div class="span3 well">
                Number of items per page on loco/layout list:
                <div class="input-append"><input class="span6" name="itemsperpage" value="<%=itemsperpage%>" type="text" maxlength="4"><button type="button" class="btn" ><i class="icon-check"></i></button></div>
            </div>
            <div class="span3 well">
                &nbsp;
            </div>
            <div class="span3 well">
                &nbsp;
            </div>
            <div class="span3 well">
                &nbsp;
            </div>
        </div>
    </div>
    
    <div class="span4">
        <p>
            Debug:
        </p>
        <ul>
            <li>Layout: <%= currentLayout %></li>
            <li>Loco: <%= currentLoco %></li>
        </ul>
    </div>
</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> generic message.
        </div>
    </div>
</div>
